*{
    font-family: 'Monotype Corsiva';
    background-color: #dfccff;
}


h1 {
    text-align: center;
    font-size: 30pt;
}

#list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 50px;
}

.friendName, .birthday, .sign{
    display: flex;
    width: calc(100%/3);
}

a{
    font-size: 15px;
}

.friendList{
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}

.friendBirthday{
    margin:10px;
}
